
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}


body {
    background-color: white;
}

header{
    width: 100%;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    padding: 1rem;
}

header ul li{
    margin: 0 .5rem;
}

header ul li a{
    font-size: 1rem;
    color: #333;
}

header ul li a:hover{
    text-decoration: underline;
}

section{
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.logo{
    font-size: 8rem;
    display: flex;
    flex-flow: row;
    position: relative;
}

.logo span{
    color: blue;
    position: absolute;
    z-index: 2;
    font-size: 2rem;
    right: .5rem;
    bottom: -0.5rem;
}

section form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    position: relative;
}

section form input[type="text"]{
    height: 2rem;
    width: 35rem;
    font-size: 1.2rem;
    padding: 1.5rem;
    border: .1rem solid #ddd;
    border-radius: 3rem;
    margin-bottom: 2rem;
}

section form input[type="text"]:hover{
    box-shadow: 0 .2rem .5rem .2rem rgba(0, 0, 0, .3);
}

section form input[type="submit"]{
    padding: 0 1.5rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    margin: 0 .5rem;
}

section form input[type="submit"]:hover{
    border: .1rem solid;
    border-color: #ddd;
}

.advanced .logo{
    position: fixed;
    font-size: 1.8rem;
    margin: .5rem 1rem;
}

.grid{
    padding: 0; margin: 0;
    display: grid;
    grid-template-columns: 15% 80%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.grid input[type="text"]{
    margin: 1rem;
    border-radius: 0;
    padding: 0;
    width: 30rem;
}

.grid input[type="text"]:hover{
    box-shadow: none;
}

.grid input[type="text"]:focus{
    border-color: rgb(0, 162, 255);
}

.advanced input[type="submit"]{
    background: #3c80ee;
    color: #fff;
    margin-top: 1rem;
    border: none;
}

.advanced input[type="submit"]:hover{
    border: none;
    background: #176af1;
}

.advanced section{
    display: block;
}

section h1{
    font-weight: 300;
    color: red;
    padding: 1rem;
}
section hr{
    color: rgb(213, 213, 213);
    margin-bottom: 4rem;
}

form h3{
    position: absolute;
    top: -1.5rem;
    left: 1rem;
    font-weight: 300;
}